body, div, p, ul, ol, li, dl, dt, dd, form, table, tr, td, th, caption, hr, h1, h2, h3, h4, h5, h6, img, input {
  margin: 0;
  padding: 0; }

input {
  outline: none; }

a {
  text-decoration: none;
  display: block;}

img{
  display: block;
}

ul {
  list-style: none; }

html {
  font-size: 26.67vw;
  height: 100%; }
body{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  height:100%;
  overflow: hidden;
}

